.messages-container {
  display: flex;
  height: calc(100vh - 70px);
  background-color: var(--background);
  position: relative;
  overflow: hidden;
}

.sidebar {
  width: 360px;
  background-color: var(--white);
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.main-content {
  flex: 1;
  background-color: var(--white);
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .messages-container {
    height: calc(100vh - 60px); /* Mobile navbar might be smaller */
  }

  .sidebar {
    width: 100%;
    height: 100%;
  }

  .main-content {
    width: 100%;
    height: 100%;
  }
}
